<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.echoeyecodes.sinnerman">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.echoeyecodes.sinnerman.Activities.SplashScreenActivity" android:theme="@style/SplashScreenTheme" android:configChanges="orientation|screenSize|screenLayout" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.echoeyecodes.sinnerman.Activities.VideoActivity" android:configChanges="orientation|screenSize|screenLayout" android:screenOrientation="portrait" />
        <activity android:name="com.echoeyecodes.sinnerman.Activities.CommentActivity" />
        <activity android:windowSoftInputMode="adjustResize" android:name="com.echoeyecodes.sinnerman.Activities.AuthActivities.LoginActivity" />
        <activity android:windowSoftInputMode="adjustResize" android:name="com.echoeyecodes.sinnerman.Activities.AuthActivities.SignUpActivity" />
        <activity android:windowSoftInputMode="adjustResize" android:name="com.echoeyecodes.sinnerman.Activities.AuthActivities.OtpVerificationActivity" />
        <activity android:name="com.echoeyecodes.sinnerman.Activities.SearchActivity" />
        <activity android:name="com.echoeyecodes.sinnerman.Activities.VideoListActivity" />
        <activity android:name="com.echoeyecodes.sinnerman.Activities.ProfileActivity" />

        <activity android:name="com.echoeyecodes.sinnerman.MainActivity" android:configChanges="orientation|screenSize|screenLayout" android:screenOrientation="portrait" />
    </application>

</manifest>